{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">


    <title>Home</title>
</head>
<body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Spotlight</a>
        </div>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>  
          <li><a href="">Sobre</a></li>  
          <li><a href="{% url 'shows' %}">Shows</a></li>  
          <li><a href="{% url 'account_logout' %}">Logout</a></li>  
       
        </ul>
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title">Bem-vindo ao Show</div>
      <div class="sub_title"> Site Exclusivo para funcionarios</div>
      <div class="btns">
        <button>Saiba mais</button>
        <a href="{% url 'shows' %}" style="all: unset;"> <button>Shows</button> </shows>
      </div>
    </div>
    
  </body>

  <script>
    
  </script>
</html>